.lv-admin-page-list-container {}
.lv-admin-page-list-search {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}
.lv-admin-page-list-content {
    background: #fff;
    border-radius: 3px;
    padding: 20px; 
}