.lv-auth-container {
    padding-bottom: 40px;
}

.lv-auth-container-head {
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.lv-auth-container-content {
    padding: 20px;
    background: #fff;
    border-radius: 3px;  
    .lv-auth-container-content-page {
        margin-top: 20px;
    }
}