.lv-admin-type-content {
    margin-top: 20px;
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    .lv-admin-type-content-page {
        margin-top: 20px;
    }
}

.lv-admin-type-container {
    padding-bottom: 40px;
}